*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; /* prevents all text from being selected */
}



/* The animated region */
canvas {
  width: 100%;
  height: 100vh; /* full viewport height */
  display: flex;
  position: absolute; /* allow content below the canvas */
  z-index: 0;
}


/* Content below the animation canvas */
.page-content {
  padding: 20px;
  color: black;
  background-color: transparent;
}

.read_me {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5); 
  color: #000000;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  z-index: 1;
  position: fixed;
  bottom: 20px;          
  left: 20px;            
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

