body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-family: Gabarito, Arial, Helvetica, sans-serif;
}

p, button, input, button {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;}

.menu {
  font-family: Gabarito, Arial, Helvetica, sans-serif;
  background-color: none;
  color: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  gap: 3rem;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  transition: font-weight 0.3s;
}

.menu a:hover {
  font-weight: bold;
}

.footer {
  background-color: none;
  width: 100%;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}



.display-work {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  margin-top: 20px;
}

body::after {
  content: '';
  display: block;
  height: 50px;
  margin-top: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-self: center;
  padding: 10px;
}

.home-div1 {
  width: 1000px;
  display: flex;
  margin: 0;
  margin-top: 50px;
  justify-content: space-between;
}

.home-div2 {
  width: 1000px;
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.home-left {
  display: flex;
  flex-direction: column;
  width: 450px;
  vertical-align: top;
}

.home-right {
  display: flex;
  flex-direction: column;
  width: 450px;
  vertical-align: top;
}

.location {
  font-size: 1.2rem;
  margin-top: 30px;
  text-align: left;
  width: 350px;
}

.loc-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.loc-text {
  display: inline-block;
  vertical-align: top;
}

.pic-me {
  display: flex;
  border-radius: 20px;
  width: 450px;
  height: 450px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.pic-me:hover {
  transform: scale(1.015);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.education,
.work {
  margin-top: 20px;
  text-align: left;
  width: 400px;
}

.education-title,
.work-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 25px;
}

.edu-list {
  list-style-type: none;
  list-style-position: outside;
  font-size: 1.1rem;
  padding: 0;
  line-height: 1.3;
}

.h-d1-title {
  font-size:  clamp(4rem, 5vw, 4rem);
  font-weight: 600;
  margin: 0;
  text-align: left;
}

.h-d1-subtitle {
  font-size: clamp(2rem, 5vw, 2rem);
  margin: 0;
  margin-top: 10px;
  text-align: left;
  width: 350px;
}

.ig {
  display: block;
  width: 30px;
  height: 30px;
  text-align: left;
  object-fit: cover;
  margin-top: 25px;
}

.h-d1-link {
  text-decoration: none;
  color: black;
}

.single-work-text {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: none;
  font-size: 54px;
  font-weight: 500;
  transition: font-weight 0.3s;
}

.single-work-text:hover {
  font-weight: 700;
}




/* TELEFON SIZE */
@media (max-width: 600px) {
  .display-work {
    width: 610px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    object-fit: cover;
    overflow: hidden;
    margin-top: 20px;
  }
  .main {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
  }
  .location {
    font-size: 1rem;
    margin-top: 15px;
    text-align: left;
    width: 200px;
  }
  .ig {
    display: block;
    width: 30px;
    height: 30px;
    text-align: left;
    object-fit: cover;
    margin-top: 20px;
  }
  .loc-text {
    display: inline-block;
    vertical-align: top;
  }
  .pic-me {
    display: block;
    width: 500px;
    height: 300px;
  }
  .home-div1 {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
  }
  .home-div2 {
    width: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    vertical-align: top;
  }
  .home-right {
    display: flex;
    flex-direction: column;
    width: 500px;
    vertical-align: top;
  }
  
  .education,
  .work {
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
    width: 200px;
  }

}



/* TABLET SIZE */
@media (min-width : 600.02px) and ( max-width : 1000px ) {
  .display-work {
    width: 1010px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    object-fit: cover;
    overflow: hidden;
    margin-top: 20px;
  }
  .main {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
  }
  .location {
    font-size: 1rem;
    margin-top: 18px;
    text-align: left;
    width: 300px;
  }
  .ig {
    display: block;
    width: 30px;
    height: 30px;
    text-align: left;
    object-fit: cover;
    margin-top: 18px;
  }
  .loc-text {
    display: inline-block;
    vertical-align: top;
  }
  .pic-me {
    width: 300px;
    height: 300px;
  }
  .home-div1 {
    width: 900px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
  }
  .home-div2 {
    width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    vertical-align: top;
  }
  .home-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    vertical-align: top;
  }
  .education,
  .work {
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
    width: 400px;
  }
}
