body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: Gabarito, Arial, Helvetica, sans-serif;
}

p, button, input, button {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;}

.menu {
  background-color: none;
  color: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  gap: 4rem;
  z-index: 100;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  transition: font-weight 0.3s;
}

.menu a:hover {
  font-weight: bold;
}

.footer {
  background-color: none;
  width: 100%;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}



.display-work {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  margin-top: 20px;
}

body::after {
  content: '';
  display: block;
  height: 50px;
  margin-top: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-self: center;
  padding: 10px;
}

.home-div1 {
  width: 1000px;
  display: flex;
  margin: 0;
  margin-top: 50px;
  justify-content: space-between;
}

.home-div2 {
  width: 1000px;
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.home-left {
  display: flex;
  flex-direction: column;
  width: 450px;
  vertical-align: top;
}

.home-right {
  display: flex;
  flex-direction: column;
  width: 450px;
  vertical-align: top;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  margin-top: 20px;
  width: 350px;
}

.loc-icon {
  display: flex;
  vertical-align: middle;
  margin-right: 10px;
}

.loc-text {
  display: flex;
  font-size: 1.2rem;
  text-align: left;
  vertical-align: middle;
  vertical-align: top;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.social-contact {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  gap: 2rem;
  margin-top: 25px;
}

.ig {
  display: flex;
}
.ig-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.pexels {
  display: flex;
}

.pexels-icon {
  height: 30px;
}

.pic-me {
  display: flex;
  border-radius: 20px;
  width: 450px;
  height: 450px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.pic-me:hover {
  transform: scale(1.015);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.education,
.work {
  margin-top: 20px;
  text-align: left;
  width: 400px;
}

.education-title,
.work-title {
  font-weight: 600;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 10px;
  margin-top: 25px;
}

.edu-list {
  list-style-type: none;
  list-style-position: outside;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  padding: 0;
  line-height: 1.3;
}

.h-d1-title {
  font-size: clamp(3rem, 5vw, 4rem);
  font-weight: 600;
  margin: 0;
  text-align: left;
}

.h-d1-subtitle {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin: 0;
  margin-top: 10px;
  text-align: left;
  width: 350px;
}

.h-d1-link {
  text-decoration: none;
  color: black;
}

.single-work-text {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: none;
  font-size: 54px;
  font-weight: 500;
  transition: font-weight 0.3s;
}

.single-work-text:hover {
  font-weight: 700;
}




/* TELEFON SIZE */
@media (max-width: 450px) {
  .menu {
    gap: 1rem;
  }

  .display-work {
    width: 450px;
    height: 150px;
    display: flex;
    align-self: center;
    object-fit: cover;
    margin-top: 20px;
  }

  .main {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
  }
  .h-d1-title {
    text-align: center;
  }
  .h-d1-subtitle {
    text-align: center;
  }

  .location {
    font-size: 1rem;
    text-align: left;
    align-self: center;
    justify-content: center;
  }
  .ig {
    display: flex;
    object-fit: cover;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    width: 80%;
  }

  .pic-me {
    display: flex;
    align-self: center;
    width: 300px;
    height: 300px;
  }
  .home-div1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
  }
  .home-div2 {
    width: 350px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    vertical-align: top;
  }
  .home-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    vertical-align: top;
  }
  
  .education,
  .work {
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
    width: 150px;
  }
  .h-d1-subtitle {
    
    width: 250px;
  }
}
