body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: Gabarito, Arial, Helvetica, sans-serif;
}

p, button, input, a {
  margin: 0;
  font-family: Gabarito, Arial, Helvetica, sans-serif;
}

.filmfreeway {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.filmfreeway:hover {
  text-decoration: underline;
  color: rgb(164, 164, 164);
}

body {
  background-color: rgb(10, 10, 10);
}

.menu a {
  color: rgb(158, 158, 158);
}

.menu a.active {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.footer p {
  color: white;
}

.film-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.film-name {
  display: flex;
  flex-direction: column;
  justify-self: center;
  min-width: 1000px;
  text-align: left;

  margin: 0;
  margin-top: 100px;
  margin-bottom: 35px;
}

.film-video {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  min-width: 1000px;
  margin: 0;
  margin-bottom: 50px;
}

.video {
  display: block;
  margin-top: 50px;
  width: 1000px;
  height: 562px;
  border: none;
  margin: 0;
}

.film-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  color: white;
}

.film-info {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 200;
  margin: 0;
  color: rgb(183, 183, 183);
}

.laurel-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.laurel {
  width: 190px;
  transition: transform 0.3s ease;
}
.laurel:hover {
  transform: scale(1.05);
}

.more-film {
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

.disclaimer {
  display: flex;
  width: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  font-weight: 200;
  text-wrap: nowrap;
  margin: 40px 0;
  padding: 5px 10px;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(0, 0, 0, 0.75);
  color: white;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 18px rgba(95, 95, 95, 0.12);
  overflow: hidden;
  cursor: default;
  transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.disclaimer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    159deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(65, 65, 65, 0.5) 100%
  );
  opacity: 0;
  transition: opacity 0.35s ease;
}
.disclaimer:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.18);
}
.disclaimer:hover::before {
  opacity: 1;
}
.disclaimer > * {
    position: relative;
    z-index: 10;
}

@media (max-width: 450px) {
  .film-main {
    width: 90%;
    justify-self: center;
  }
  .film-name {
    min-width: 100%;
    margin-top: 50px;
  }
  .video {
    width: 100%;
    height: 250px;
  }
  .film-video {
    min-width: 100%;
    height: 100%;
  }
  .laurel-display {
    flex-direction: row;
    gap: 0.5rem;
    min-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .laurel {
    width: 18%;
  }
  .more-film {
    width: 100%;
  }
}
