p, button, input, a {
  margin: 0;
  font-family: Gabarito, Arial, Helvetica, sans-serif;
}

.filmfreeway {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.filmfreeway:hover {
  text-decoration: underline;
  color: rgb(164, 164, 164);
}

body {
  background-color: rgb(10, 10, 10);
}

.menu a {
  color: white;
}

.footer p {
  color: white;
}

.film-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.film-name {
  display: flex;
  flex-direction: column;
  justify-self: center;
  min-width: 1000px;
  text-align: left;

  margin: 0;
  margin-top: 100px;
  margin-bottom: 35px;
}

.film-video {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  min-width: 1000px;
  margin: 0;
  margin-bottom: 50px;
}

.video {
  display: block;
  margin-top: 50px;
  width: 1000px;
  height: 562px;
  border: none;
  margin: 0;
}

.film-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  color: white;
}

.film-info {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 200;
  margin: 0;
  color: rgb(183, 183, 183);
}

.laurel-display {
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  margin-bottom: 50px;
}

.laurel {
  width: 190px;
}

.more-film {
  width: 1000px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

@media (max-width: 450px) {
  .film-main {
    width: 90%;
    justify-self: center;
  }
  .film-name {
    min-width: 100%;
    margin-top: 50px;
  }
  .video {
    width: 100%;
    height: 250px;
  }
  .film-video {
    min-width: 100%;
    height: 100%;
  }
  .laurel-display {
    flex-direction: row;
    gap: 0.5rem;
    min-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .laurel {
    width: 18%;
  }
  .more-film {
    width: 100%;
  }
}