body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.visual-gallery {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 40px 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    gap: min(70px, 3vw);
    width: 70%;
    margin: 0;
    margin-bottom: 20px;
}

.gallery-item {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 0;
    text-align: left;
    padding: 15px;    
    border-radius: 10px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

.gallery-image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    transition: all 0.3s ease;
}

.image-title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
}

.visualarts-pagination {
    font-family: Gabarito, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 50px;
}

.visualarts-page a{
    background-color: none;
    color: rgb(184, 184, 184);
    position: relative;
    margin: 0;
    bottom: 30px;
    border: none;
    padding: 10px;
    transition: all 0.5s ease;
}

.visualarts-page a:hover {
    bottom: 35px;
    font-weight: 700;
    color: rgb(81, 81, 81);
    background: none;
    transition: all 0.5s ease;
}

.visualarts-page a.active {
    color: black;
    bottom: 30px;
    border: none;
}
.visualarts-page a.active:hover {
    bottom: 35px;
    font-weight: 700;
    color: rgb(63, 63, 63);
    transition: all 0.5s ease;
}


@media ( max-width : 450px ) {
    .visual-gallery {
        justify-self: center;
        width: 400px;
    }

    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .gallery-item {
        justify-self: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .gallery-image-container {
        width: 100%;
        height: auto;
    }
}

@media ( min-width : 450.02px ) and ( max-width : 1000px ) {
    .visual-gallery {
        justify-content: center;
        justify-self: center;
        width: 100%;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 60px;
    }
    .gallery-item {
        width: 100%;
        height: auto;
    }
    .gallery-image-container {
        width: 100%;
        height: auto;
    }
}
